<form   [formGroup] ="drivingFormGroup"  (ngSubmit)="onSubmit()">
<h1 mat-dialog-title >{{title}}</h1>
<div mat-dialog-content>
  <div class="row">
    
    <div class="col">
      <mat-form-field class="date">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"  id="date" formControlName="date">

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker class="date" #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field>
          <mat-label>Time:</mat-label>
          <input matInput id="time" formControlName="time"/>
        </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <mat-form-field>
        <mat-label>Hours</mat-label>
        <input matInput id="lessonHours" formControlName="hours" />
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Weather</mat-label>
        <mat-select  id="weather" formControlName="weather">
          <mat-option *ngFor="let specific of weatherTypes" [value]="specific">{{specific}}</mat-option>

        </mat-select>
    
      </mat-form-field>
    </div>

      
    
  </div>

  <div class="row">

    <div class="col">
      <mat-form-field>
        <mat-label>Training Type</mat-label>
        <mat-select  id="trainingType" formControlName="trainingType">
          <mat-option *ngFor="let specific of lessonTypes" [value]="specific">{{specific}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Topic</mat-label>
        <input matInput id="topic" formControlName="topic"/>
      </mat-form-field>
    </div>
    
  
  </div>
  
  <div class="row">

    <div class="col">
      <mat-form-field>
        <mat-label>Car Model:</mat-label>
        <input matInput id="model" formControlName="model"/>
      </mat-form-field>
    </div>

      <div class="col">
        <mat-form-field>
          <mat-label>Cost</mat-label>
          <input matInput id="cost" formControlName="cost" />
        </mat-form-field>
      </div>
       

    
   </div>

   <div class="row">

    <div class="col">
      <mat-form-field>
        <mat-label>Instructor:</mat-label>
        <input matInput id="Instr" formControlName="instructor"/>
      </mat-form-field>
    </div>

      

    
   </div>
</div>



    


<div mat-dialog-actions>
  <button class="close" mat-button mat-dialog-close >Close</button>
  <button [disabled] = "!this.drivingFormGroup.valid"class="submit" mat-button [mat-dialog-close]="" type="submit"  cdkFocusInitial>Submit</button>
</div>
</form>